.git
.github
.gitlab-ci.yml
.env
backend/.env
backend/*.db

node_modules
dist
dist-ssr
coverage
reports-browser
reports-lighthouse*.json

__pycache__
*.py[cod]
.pytest_cache
.ruff_cache

*.log
kp_info2_*.json
